@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sofia');
/* -----------------------------------------header---------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  /*font-family: 'Sofia', sans-serif;*/
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
    background: rgb(0,123,255,0.3);
}
.content{
    align-content: center;
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: #d6d8ff;
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar.sticky .menu-list li a{
    color: #fff;
}
.navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
  /*color: #a72573ff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;*/
    height: 100px;
}
.navbar .menu-list{
    display: inline-flex;
}
.menu-list li{
    list-style: none;
}
.menu-list li a{
    color: #c69cd0;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.navbar.sticky .menu-list li a:hover, .navbar.sticky .menu-list li a.active{
    color: #a72573;
}
.menu-list li a:hover, .menu-list li a.active{
    color: #a72573;
}
.banner{
    
    
    
    background: url("fondo.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-grande{
    position: relative;
    margin: auto;
    padding-top: 30vh;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #a72573;
    font-family: 'Allura', cursive;

    /*font-family: 'Great Vibes', cursive;*/
    font-size: 200px;
    padding-right: 30px;
}
.banner-chico{
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #46b9bc;
    font-family: 'Joan', serif;

    /*font-family: 'Great Vibes', cursive;*/
    font-size: 100px;
    bottom: 100px;
    left: 130px;
    width: 300px;

}

.about{
    padding-top: 200px;
    padding-bottom: 30px;
}
.about .title{
    font-size: 38px;
    font-weight: 700;
}
.about p{
    padding-top: 20px;
    text-align: justify;
}
.icon{
    color: #c69cd0;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
}
@media (max-width: 1230px) {
  .content{
    padding: 0 60px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 40px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 30px;
  }
}
@media (max-width: 868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    color: #fff;
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .navbar .menu-list li a:hover, .navbar .menu-list li a.active{
    color: #a72573;
  }
  .navbar.show .menu-list li a{
    margin-left: 0px;
  }
  .banner{
    height: 70vh;
  }
  .banner-grande{
    font-size: 100px;
  }
  .banner-chico{
    width: 150px;
    font-size: 50px;
    bottom: 50px;
    left: 50px;
  }
}
@media (max-width: 380px) {
  .navbar .logo a{
    font-size: 27px;
  }
}


/* ----------------------------------------------- footer --------------------------------------------------- */
footer{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.pie-pagina{
    width: 100%;
    background-color: #d6d8ff;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure a{
    color: #a72573;
    width: 100%;
    height: 100%;
    margin: auto;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sofia', sans-serif;
    text-decoration: none;
    font-size: 50px;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 15px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #fff;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #d6d8ff;
    text-align: center;
    transition: all 300ms ease;
    font-size: 20px;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #ba2d65;
}
.pie-pagina .grupo-2{
    background-color: #a72573;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:0px;
        padding: 10px 0px;
    }
}

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4070f4;
}*/

/* -------------------------------------- cotizar --------------------------------------*/
.container{
    position: relative;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: 400;
}
form button:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 750px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

.selectBox{
    position: relative;
}
.selectBox select{
    width: 100%;
}
.overSelect{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#checkboxes{
    display: none;
    border: 1px #dadada solid;
}
#checkboxes label{
    display: block;
}
#checkboxes label:hover{
    background-color: #1e90ff;
}